<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinhyangERP.ERP.mapper.jun.TransactionMapper">
	<insert id="insert">
	    INSERT INTO erp_transaction (
	        account_number, 
	        transaction_deposit, 
	        transaction_withdraw 
	        <if test="member_info_key != 0">, member_info_key</if>
	        <if test="client_id != 0">, client_id</if>
	        <if test="vendor_id != 0">, vendor_id</if>
	    ) VALUES (
	        #{account_number}, 
	        #{transaction_deposit}, 
	        #{transaction_withdraw}
	        <if test="member_info_key != 0">, #{member_info_key}</if>
	        <if test="client_id != 0">, #{client_id}</if>
	        <if test="vendor_id != 0">, #{vendor_id}</if>
	    )
	</insert>

	
	<select id="list" resultType="com.sinhyangERP.ERP.jun.transaction.TransactionVO">
		SELECT t.*, m.member_info_name, v.vendor_name, c.client_name 
		FROM erp_transaction t
		LEFT JOIN erp_member_info m ON t.member_info_key = m.member_info_key
		LEFT JOIN view_vendor v ON t.vendor_id = v.vendor_id 
		LEFT JOIN view_client c ON t.client_id = c.client_id 
			WHERE account_number = #{vo.account_number}
			<if test="query.key == 'member_info_key'">
				AND m.member_info_name like #{query.word}
			</if>
			<if test="query.key == 'client_id'">
				AND c.client_name like #{query.word}
			</if>
			<if test="query.key == 'vendor_id'">
				AND v.vendor_name like #{query.word}
			</if>
			<if test="query.key == 'transaction_date_str'">
			    AND DATE_FORMAT(t.transaction_date, '%Y-%m-%d') like #{vo.transaction_date_str}
			</if>
		ORDER BY transaction_date desc 
		limit #{query.start}, #{query.size}
	</select>
	
	<select id="total" resultType="int">
		SELECT count(*) total 
		FROM erp_transaction t
		LEFT JOIN erp_member_info m ON t.member_info_key = m.member_info_key
		LEFT JOIN view_vendor v ON t.vendor_id = v.vendor_id 
		LEFT JOIN view_client c ON t.client_id = c.client_id 
			WHERE account_number = #{vo.account_number}
			<if test="query.key == 'member_info_key'">
				AND m.member_info_name like #{query.word}
			</if>
			<if test="query.key == 'client_id'">
				AND c.client_name like #{query.word}
			</if>
			<if test="query.key == 'vendor_id'">
				AND v.vendor_name like #{query.word}
			</if>
			<if test="query.key == 'transaction_date_str'">
				AND DATE_FORMAT(t.transaction_date, '%Y-%m-%d') like #{vo.transaction_date_str}
			</if> 
	</select>
	
	<select id="data" resultType="com.sinhyangERP.ERP.jun.transaction.TransactionVO">
		SELECT *
		FROM erp_transaction
		ORDER BY transaction_date desc
	</select>
	
	<select id="selectData" resultType="com.sinhyangERP.ERP.jun.transaction.TransactionVO">
		SELECT *
		FROM erp_transaction
		<where>
	        <if test="key != null">
	            AND DATE_FORMAT(transaction_date, '%Y') = #{key}
	        </if>
	    </where>
		ORDER BY transaction_date desc
	</select>
	
	<select id="selectMonth" resultType="com.sinhyangERP.ERP.jun.transaction.TransactionVO">
		SELECT *
		FROM erp_transaction
		<where>
	        <if test="key != null">
	            AND DATE_FORMAT(transaction_date, '%Y-%m') = #{key}
	        </if>
	    </where>
		ORDER BY transaction_date desc
	</select>
	
	<select id="read" resultType="hashmap">
		SELECT t.*, m.member_info_name, c.client_name, v.vendor_name
		FROM erp_transaction t 
		LEFT JOIN erp_member_info m ON t.member_info_key = m.member_info_key 
		LEFT JOIN erp_client c ON t.client_id = c.client_id 
		LEFT JOIN erp_vendor v on t.vendor_id = v.vendor_id 
		WHERE transaction_id = #{transaction_id}
	</select>
</mapper>